.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Header */
.header-logo {
  border-right: thick solid #5e5e5e;
  padding-right: 10px;
  margin-right: 10px;
}

/* Featured products carousel */
.featured-carousel {
  max-width: 500px;
  max-height: 350px;
  margin: 0 auto;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-top: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  padding: 10px;
}

/* Forms */
.form-controls {
  background-color: #f8f9fa;
  border-color: #ced4da;
  border-radius: 10px;
  border-width: 2px;
}

.form-controls:focus {
  background-color: #e9ecef;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Product card */
.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-brand-logo {
  max-width: 150px;
  height: auto;
  margin: 10px 0;
}

.product-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

/* Profile */
.profile-picture {
  width: 150px;
  height: 150px;
  border: 3px solid #000;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Price Styling */
.product-price {
  color: #28a745;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product-price::before {
  content: "₪";
  margin-right: 5px;
}

.product-discount {
  text-decoration: line-through;
  color: #dc3545;
  font-weight: normal;
  font-size: 1.2em;
  margin-right: 10px;
}

.product-final-price {
  color: #28a745;
  font-weight: bold;
  font-size: 1.6em;
}

/* Company Logos */
.company-logo {
  width: 50px;
  height: auto;
  margin: 0 5px;
}

.company-logos {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
